<h1>Welcome to school portal</h1>

<%= link_to 'Assign Students', :controller => :students, :action => :dash_board %><br>

<%= link_to 'Assign Teachers', :controller => :teachers, :action => :dash_board %><br>

<%= link_to 'Assign Subjects', :controller => :subjects, :action => :dash_board %>